.DS_Store
config.php
import.csv
output.xml
/nbproject/private/
/nbproject/
.phpdoc
/.phpunit.result.cache
.env
/RAIFF_MULTIFLEXI.p12
/debian/debhelper-build-stamp
/debian/abraflexi-raiffeisenbank.debhelper.log
/debian/abraflexi-raiffeisenbank/
/debian/.debhelper/
/debian/abraflexi-raiffeisenbank.substvars
/debian/files
/statement.xml
/vendor/
/debian/multiflexi-abraflexi-raiffeisenbank/
/debian/multiflexi-abraflexi-raiffeisenbank.debhelper.log
/debian/multiflexi-abraflexi-raiffeisenbank.substvars




